@import "../../node_modules/normalize.css/normalize";
@import "vars";
@import "fonts";
    
html{
    box-sizing: border-box;
}
*,*:after,*:before{
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

blockquote{
    margin: 0;
    padding: 0;
}

  ul,
  li{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    min-width: 320px;
    overflow-x: hidden;
    font-family: "OpenSans-Regular", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.container{
    width: auto;
    padding: 0 20px;
}

@media (min-width: $desktop-width){
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 130px;
    }
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

// Main page styles
//
//Button styles

.button{
    display: block;
    padding: 15px 35px;
    font-family: "OpenSans-Bold", "Arial", "sans-serif";
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 35px;
}



// Header styles

.page-header{
    position: absolute;
    min-width: 320px;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 66px;
    }
    a{
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
    }
    &__logo-link{
        display: block;
        width: 75px;
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 20px;
    }
    &--nojs{
        position: static;
    }
}

@media (min-width: $desktop-width){
    .page-header{
        &__logo-link{
            margin-right: 130px;
            margin-left: 0;
        }
        &--nojs{
            position: absolute;
        }
    }
}

.main-nav{
    position: relative;
    width: 100%;
    min-height: 51px;
    margin: 0 auto;

    &--opened{
        background-color: $sub-accent;
    }
    &__toogle{
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 90px;
        height: 64px;
        border: none;
        cursor: pointer;
        background-color: rgba($color: #000, $alpha: 0.0);
    }
}

.main-nav--closed .main-nav__toogle::before {
    content: "";
    width: 50px;
    height: 4px;
    position: absolute;
    background-color: #fff;
    left: 20px;
    top: 20px;
    box-shadow: 0 10px 0 0 #fff, 0 20px 0 0 #fff;
}

.main-nav--closed .main-nav__toogle:hover::before{
    background-color: $accent;
    box-shadow: 0 10px 0 0 $accent, 0 20px 0 0 $accent;
}

.main-nav--closed .main-nav__toogle:active::before{
    background-color: rgba($color: $accent, $alpha: 0.7);
    box-shadow: 0 10px 0 0 rgba($color: $accent, $alpha: 0.7), 0 20px 0 0 rgba($color: $accent, $alpha: 0.7);
}

.main-nav--opened .main-nav__toogle{
    &::before,
    &::after{
        content: "";
        position: absolute;
        width: 30px;
        height: 5px;
        background-color: #fff;
    }
    &::before{
        transform: rotate(45deg);
        box-shadow: none;
    }
    &::after{
        transform: rotate(-45deg);
    }
}

.main-nav--opened .main-nav__toogle:hover::before,
.main-nav--opened .main-nav__toogle:hover::after{
    background-color: $accent;
}

.main-nav--opened .main-nav__toogle:active::before,
.main-nav--opened .main-nav__toogle:active::after{
    background-color: rgba($color: $accent, $alpha: 0.7);
}

.main-nav--nojs .main-nav__toogle{
    display: none;
}

.main-nav--nojs .main-nav--opened{
    display: none;
}

@media (max-width: 1199px){
    .main-nav--closed .site-list__item{
        display: none;
    }
}

@media (min-width: $desktop-width){
    .main-nav{
        display: flex;
        justify-content: flex-start;
        width: auto;
        padding-left: 130px;

        &--opened{
            background-color: transparent;
        }
        &__toogle{
            display: none;
        }
    }
}

//Site-list styles


.site-list a{
    display: block;
    padding: 15px 0;
    font-family: "OpenSans-Bold", "Arial", "sans-serif";
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #010101;
}

.site-list__item{
    &:hover a{
    color: $accent;
    cursor: pointer;
    }
    &:active a{
        color: rgba($color: $accent, $alpha: 0.7);
    }
}

.site-list__item:last-child a{
    border-bottom: none;
}

@media (min-width: $desktop-width){
    .site-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .site-list a{
        font-family: "OpenSans-Regular", "Arial", "sans-serif";
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        text-transform: none;
        padding: 45px 40px;
        border-top: none;
    }
    .site-list__item{
        display: flex;
        &:active a{
            color: rgba($color: #fff, $alpha: 0.3);
        }
        &:last-of-type{
            margin-right: 130px;
        }
        &--active{
            position: relative;
            &::after{
                content: "";
                
                position: absolute;
                right: 40px;
                left: 40px;
                bottom: 33px;

                height: 2px;
                background: #fff;
            }
            &:hover a{
                color: #fff;
                cursor: auto;
                }
        }
    }
}

.site-list__item a{
    border-bottom: none;
}

// Download styles

.download{
    min-height: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/phone-in-hand.png);
    background-repeat: no-repeat;
    background-color: $sub-bg;
    color: #fff;
    margin-bottom: 50px;
    &__inner{
        width: 280px;
        margin: 0 auto;
        margin-top: 490px;
    }
    &__title{
        display: none;
        font-family: "OpenSans-Light", "Arial", "sans-serif";
        font-weight: 300;
        font-size: 40px;
        line-height: 36px;
        text-align: center;
    }
    &__link{
        width: auto;
        box-sizing: border-box;
        margin-bottom: 30px;
        padding: 15px 0;
        border: 3px solid #fff;
        text-decoration: none;
        color: #fff;

        &:hover{
            color: $accent;
            background-color: #fff;
        }
        &:active{
            color: rgba($color: $accent, $alpha: 0.3);
        }
    }
    &__logo-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        padding: 0 37px;
    }
    &__info{
        font-family: "OpenSans-Light", "Arial", "sans-serif";
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        margin: 0;
    }
    
}

@media (min-width: $tablet-width){
    .download{
        &__inner{
            width: 300px;
            margin-top: 200px;
            margin-right: auto;
            margin-left: 20px;
            
        }
        &__title{
            display: block;
            font-size: 40px;
            line-height: 45px;
            margin-bottom: 35px;
        }
        &__info{
            font-size: 18px;
        }
        &__logo-container{
            padding: 0 47px;
            margin-bottom: 40px;
        }
        &__link{
            margin-bottom: 45px;
        }
    }
}

@media (min-width: $desktop-width){
    .download{
        min-height: 850px;
        &__inner{
            margin-top: 220px;
            margin-left: 130px;
        }
        &__title{
            font-size: 50px;
            line-height: 56px;
            margin-bottom: 55px;
        }
        &__logo-container{
            margin-bottom: 65px;
        }
        &__link{
            font-size: 21px;
            margin-bottom: 65px;
        }
    }
}



// About styles

.about{
    &__header{
        text-align: center;
    }
    &__intro{
        font-family: "OpenSans-Light", "Arial", "sans-serif";
        font-weight: 300;
        font-size: 24px;
        color: $sub-bg;
        margin-bottom: 40px;
    }
    &__wrapper{
    display: flex;
    flex-direction: column;
    background-color: $bg-color;
    }
    &__slogan{
        font-family: "OpenSans-Bold", "Arial", "sans-serif";
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
    }
    &__article{
        color: $sub-bg;
    }
    &__img-container{
        order: 1;
        display: flex;
    }
    &__text-wrapper{
        text-align: center;
    }
    &__text-container{
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }
    &__image2{
        display: none;
    }
    &__image3{
        display: none;
    }
    &__joke{
        display: none;
    }
}

.joke{
    &__img{
    display: block;
    height: 277px;
    width: 240px;
    background-image: url(../img/timer.png);
    background-repeat: no-repeat;
    }
    &__title{
        font-family: "OpenSans-Bold", "Arial", "sans-serif";
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
    }
    &__link{
        color: $accent;
    }
    &__article{
        color: $sub-bg;
    }
}

@media (min-width: $tablet-width){
    .about{
        &__wrapper{
            flex-direction: row;
        }
        &__img-container{
            order: 0;
        }
        &__text-wrapper{
            text-align: left;
        }
        &__joke{
            display: flex;
        }
    }
}

@media (min-width: $desktop-width){
    .about{
        &__image2{
            display: block;
        }
        &__image3{
            display: block;
        }
        &__img-container{
            justify-content: space-around;
        }
        &__text-container{
            flex-direction: row;
        }
        &__text-wrapper{
            text-align: center;
        }
        &__wrapper{
            flex-direction: column;
            }
    }
}

// Reviews styles
 
.reviews{
    text-align: center;
    &__item{
        display: flex;
        flex-direction: column;
    }
    &__author-name{
        font-family: "OpenSans-Bold", "Arial", "sans-serif";
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
    }
    &__text{
        font-family: "OpenSans-Regular", "Arial", "sans-serif";
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        color: $sub-accent;
    }
    &__author-data{
        display: none;
    }
}

@media (min-width: $tablet-width){
    .reviews{
        &__author-data{
        display: block;
        }
        &__author-wrapper{
            order: 2;
        }
    }
}


// Prises styles

.prices{
    &__rate{
        background-color: $sub-accent;
        color: #fff;
    }
    &__field{
        font-family: "OpenSans-Regular", "Arial", "sans-serif";
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;
    }
}

// Contacts styles

.contacts{
    &__wrapper{
        //min-width: 260px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;
    }
    &__wrapper-inner{
        width: 245px;
        text-align: center;
    }
    font-family: "OpenSans-Light", "Arial", "sans-serif";
    font-weight: 300;
    font-size: 24px;
    color: $sub-accent;
    &__title{
        display: block;
        font-family: "OpenSans-Bold", "Arial", "sans-serif";
        font-weight: 700;
        font-size: 18px;
    }
    a{
        color: $accent;
        text-decoration: none;
    }
}

@media (min-width: $tablet-width){
    .contacts{
        &__wrapper{
            width: 610px;
        }
    }
}

@media (min-width: $desktop-width){
    .contacts{
        &__wrapper{
            width: 880px;
        }
    }
}

// Footer styles

.footer{
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: $tablet-width){
    .footer{
        &__wrapper{
            flex-direction: row;
            justify-content: space-between;
        }
    }
}



// Photo-page styles
//------------------------------------------------------------------------------------//
//

.intro{
    min-width: 320px;
    &__background{
        background-color: $sub-accent;
        background-image: url(../img/back-mobile.png);
        background-size: cover;
        color: #fff;
        min-height: 237px;
    }
    &__heading{
        font-family: "OpenSans-Light", "Arial", "sans-serif";
        font-weight: 300;
        font-size: 24px;
        max-width: 243px;
        margin: 0 auto;
        padding-top: calc(50% - 62px);
        text-align: center;
    }
    &__text{
        font-family: "OpenSans-Regular", "Arial", "sans-serif";
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: $sub-accent;
        text-align: center;
        padding: 0 15px;
        margin: 50px 0;
    }
}


// Gallery styles

.gallery{
    & .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__block{
        width: 280px;
    }
    &__block--of-the-day{
        width: auto;
        //margin-left: 20px;
        //margin-right: 20px;
    }
    &__photo-block{
        margin-bottom: 0;
        padding: 0;
        width: 280px;
        height: 180px;
        outline: 1px red solid;
    }
    &__photo-block--of-the-day{
        width: auto;
        height: 137px;
        outline: 1px black dashed;
    }
    &__photo{
        display: block;
    }
    &__photo--of-the-day{
        display: inline-block;
    }
    blockquote:nth-last-type(1){
        margin-bottom: 0;
    }
    
}

@media (min-width: $tablet-width){
    .gallery{
        &__block{
            width: 300px;
        }
        &__photo-block{
            width: 300px;
            height: 300px;
        }
        &__photo-block--of-the-day{
            width: auto;
            height: 509px;
        }
        &__block--of-the-day{
            width: auto;
        }
    }
}

.comment{
    background-color: #f2f2f2;
    margin-bottom: 20px;
    padding: 18px;
    color: $sub-accent;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    &__header{
        display: flex;
    }
    &__username{
        font-family: "OpenSans-Bold", "Arial", "sans-serif";
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        margin-right: 3px;
    }
    &__datetime{
        font-family: "OpenSans-Light", "Arial", "sans-serif";
        font-weight: 300;
        font-size: 12px;
        line-height: 24px;
        text-transform: uppercase;
    }
    &__text{
        display: inline-block;
        margin-bottom: auto;
    }
    &__likes{
        color: $accent;
        margin-top: auto;
    }
    &__likes-count{
        margin-left: 17px;
    }
}

@media (min-width: $tablet-width){
    .comment{
        min-height: 155px;
        &__likes{
            display: flex;
            justify-content: space-between;
        }
        &__likes-count{
            margin-left: 0;
            
        }
        &__likes-img{
            order: 2;
        }
    }
}

.final-text__heading{
    font-family: "OpenSans-Regular", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    padding: 50px 10px;
}

// Photo processing styles

.photo-processing{
    background-color: #f2f2f2;
    &__settings{
        display: flex;
        flex-direction: column;
    }
    &__stting-btn{
        display: block;
        padding: 0;
        margin: 0;
    }
    &__overwrapper{
        //display: flex;
    }
    &__wrapper{
        display: flex;
        justify-content: space-evenly;
    }
    &__button{
        width: 275px;
    }
    &__button--active{
        border: 3px solid $accent;
        color: $accent;
    }
    &__button--inactive{
        border: 3px solid #dddfe0;
        color: #dddfe0;
    }
}

@media (min-width: $tablet-width){
    .photo-processing{
        &__overwrapper{
            display: flex;
        }
        &__wrapper{
            flex-direction: column;
        }
        &__process-and-post{
            display: flex;
        }
    }
}

// Photo processing toogle styles

.range-filter{
    width: 240px;
    &__scale{
        height: 2px;
        background: #000;
    }
    &__controls{
        position: relative;
        height: 15px;
    }
    &__toggle{
        position: absolute;
        top: -4px;
        left: 0;
        //padding: 0;
        width: 10px;
        height: 10px;
        border: 2px solid $accent;
        background: #fff;
        background-color: #f2f2f2;;
        border-radius: 50%;
        cursor: pointer;
    }
}

.change-color{
    &__range-filter{
        display: none;
    }
}

.change-brightless{
    &__range-filter{
        display: none;
    }
}

@media (min-width: $tablet-width){
    .change-color{
        &__range-filter{
            display: block;
        }
    }
    
    .change-brightless{
        &__range-filter{
            display: block;
        }
    }
}


// Form page styles
//--------------------------------------------------------------------------------------------------
//


.competition-form{
    &__list{
    display: flex;
    flex-wrap: wrap;
    }
    &__bg-container{
        background-color: $bg-color;
    }
    label{
        font-family: "OpenSans-Regular", "Arial", "sans-serif";
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: $accent;
        text-transform: uppercase;
    }
}

.form-legend{
    font-family: "OpenSans-Regular", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: $accent;
}

.post-form{
    label{
        font-family: "OpenSans-Regular", "Arial", "sans-serif";
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        text-align: center;
        color: $accent;
    }
}

.achieve-form__list .form-list__item{
    font-family: "OpenSans-Regular", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $sub-accent;
}

.contacts-form__list .form-list__item{
    font-family: "OpenSans-Regular", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: $accent;
}

.radio-form__list .form-list__item{
    font-family: "OpenSans-Regular", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $sub-accent;
}

.form-sect{
    &__legend sup{
    color: $accent;
    }
}

.competition-form{
    display: flex;
    flex-direction: column;
    &__list{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: $tablet-width){
    .competition-form{
        &__radio-form{
            order: 1;
        }
        &__contacts-form{
            order: 2;
        }
        &__checkbox-form{
            order: 3;
        }
        &__post-form{
            order: 4;
        }
    }
    .filter-button{
        order: 5;
    }
}

@media (min-width: $desktop-width){
    .competition-form{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        &__name-form,
        &__radio-form{
            width: 435px;
        }
        &__contacts-form,
        &__checkbox-form,
        &__post-form{
            flex-basis: 100%;
        }
    }
}